@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    z-index: 10;
}

header h1{
    font-size: 45px;
    font-family: 'VT323', monospace;
    font-weight: 900;
}
header h1 span{
    color: red;
}

header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li{
    margin: 20px;
}

header nav ul li a{
    text-decoration:none;
    color: white;}

.ProductosPage-juegos h2{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 50px;
    text-transform: uppercase;
}

.Fedeados{
    width: 100%;
    height: 80vh;
    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Fedeados h2{
    font-size: 75px;
    border: 4px white solid;
    display: inline-block;
    padding: 20px;
}

.Fedeados p{
    font-size: 30px;
    padding: 20px;
}

.Fedeados a{
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 10px;
    padding: 8px;
}
.bienvenidos{
    width: 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
    text-align: center; 
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bienvenidos img{
    width: 600px;
    height: 600px;
}

.bienvenidos div{
    width: 50%;
    margin: 50;
}
.bienvenidos h2 span{
    font-family: 'VT323', monospace;
    font-size: 60px;
}
.rankeados h2{
    font-family: 'VT323', monospace;
    font-size: 60px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 2px black solid;
}
.M{
    color: RED;
}

.bienvenidos div h2{
    font-size: 42px;
}

.bienvenidos div p{
    font-size: 20px;
}
.bienvenidos p{
    font-size: 17px;
    margin: 20px;
}

.Productos div img{
    width: 250px;
    height: 200px;
}

.Productos > div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.Productos div div{
    border: 1px solid black;
    width: 250px;
    height: 350px;
    text-align: center;
    background-color: black;
    color: white;
    margin: 20px;
    display: inline-block;
    box-shadow: 10px 10px 10px 0px rgba(244,0,0,0.75);
    -webkit-box-shadow: 10px 10px 10px 0px rgba(244,0,0,0.75);
    -moz-box-shadow: 10px 10px 10px 0px rgba(244,0,0,0.75);
}
.Productos h2{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 50px;
    text-transform: uppercase;
}
.Productos div h3{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
}

.Productos div a{
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 20px;
    font-weight: 900;
}
.Productos p{
    text-decoration: none;
    color: black;
    background-color: rgb(236, 228, 228);
    font-size: 20px;
    font-weight: 900;
}
.JuegosJpg img{
    height: 400px;
}

.grid-ProductosPage-juegos{
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 15px;
}

.grid-ProductosPage-juegos div{
    margin: 5px;
}

.grid-ProductosPage-juegos div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 10px 0px rgba(244,0,0,0.75);
-webkit-box-shadow: 10px 10px 10px 0px rgba(244,0,0,0.75);
-moz-box-shadow: 10px 10px 10px 0px rgba(244,0,0,0.75);
}
.grid-item-ProductosPagejuegos{
    position: relative;
}
.grid-item-ProductosPagejuegos h3{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
}
.Fifa{
    grid-column: span 2;
}
.Batman{
    grid-row: span 2;
}
.GTA{
    grid-column: span 2;
}

.grid-Accesorios{
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 15px;
}
.grid-Accesorios div{
    margin: 5px;
}
.grid-Accesorios div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 10px 0px rgba(244,0,0,0.75);
-webkit-box-shadow: 10px 10px 10px 0px rgba(244,0,0,0.75);
-moz-box-shadow: 10px 10px 10px 0px rgba(244,0,0,0.75);
}

.Accesorios{
    background-color:antiquewhite;
    margin: 50px;
    border: 10px solid black;
}
.Accesorios h2{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 0px;
    text-transform: uppercase;
}
.grid-itemAccesorios{
    position: relative;
}
.grid-itemAccesorios h3{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
}
.Mouse{
    grid-row: span 2;
}

.Sillas{
    grid-column: span 2;
}

.grid-servicios{
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 15px;
}
.grid-servicios div{
    margin: 5px;
}
.grid-servicios div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 10px 0px rgba(244,0,0,0.75);
-webkit-box-shadow: 10px 10px 10px 0px rgba(244,0,0,0.75);
-moz-box-shadow: 10px 10px 10px 0px rgba(244,0,0,0.75);
}

.servicios{
    background-color:antiquewhite;
    margin: 50px;
    border: 10px solid black;
}
.servicios h2{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 0px;
    text-transform: uppercase;
}
.grid-item{
    position: relative;
}
.grid-item h3{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
}
.delivery{
    grid-column: span 2;
}
.ventapormayor{
    grid-column: span 2;
}
.asesoria{
    grid-row: span 2;
}


.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;

}
.whatsapp div img{
    width: 40px;
    height: 40px;
}

footer{
    background-color: rgb(100, 99, 102);
    color: white;
    margin-top: 20px;
}
.fin div{
    width: 60px;
    height: 60px;
    color: white;
    margin: 20px;
    display: inline-block;
}
.fin img{
    width: 40px;
    height: 40px;
}
.fin h2{
    font-size: 45px;
    font-family: 'VT323', monospace;
    font-weight: 900;
}
.ingresar1{
    width: 100%;
    height: 100vh;
    background-color: beige;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-floating{
    border: 2px black solid;
}

@media screen and (max-width: 605px){
    .ingresar1{
        background-color: azure;
    }
}
@media screen and (max-width:950px){
    .grid-servicios{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 220px;
    }
    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (max-width:400px){
    .grid-servicios{
        grid-template-columns: 1fr;
    }
    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
}
@media screen and (max-width:680px){
    .grid-Accesorios{
        grid-template-columns: 1fr;
    }
    .grid-itemAccesorios{
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (max-width:680px){
    .grid-ProductosPage-juegos{
        grid-template-columns: 1fr;
    }
    .grid-item-ProductosPagejuegos{
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (max-width: 600px){
    header{
        flex-direction: column;
        position: static;
    }
}

@media screen and (max-width: 465px){
    header{
        flex-direction: row;
    }
    header  nav ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header nav ul li{
        margin: 5px;
    }
}
.datos1 h2{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 50px;
}
.ubicacion{
    margin-top: 50px;
}
.ubicacion h2{
    background-color: thistle;
    color: black;
    padding: 20px;
    border: 4px white solid;

}
@media screen and (max-width: 650px){
    .datos1 h2{
        font-size: 20px;
        background-color: bisque;
    }
}
@media screen and (max-width: 650px){
    .ubicacion h2{
        background-color: bisque;
    }
}
@media screen and (max-width: 940px){
    .Fedeados h2{
         font-size: 35px;
         border: 2px white solid;
         display: inline-block;
         padding: 10px;
    }
    .Fedeados p{
         font-size: 15px;
         padding: 10px;
    }
}


@media screen and (max-width: 940px){
    .bienvenidos img{
        width: 300px;
        height: 500px;
    }
    .bienvenidos h2{
        font-family: 'VT323', monospace;
        font-size: 34px;
    }
    .bienvenidos div p{
        font-size: 22px;
        margin: 20px;
    }
}
@media screen and (max-width: 583px){
  
    .bienvenidos h2{
        font-family: 'VT323', monospace;
        font-size: 24px;
    }
    .bienvenidos div p{
        font-size: 12px;
        margin: 10px;
    }
}

@media screen and (max-width: 600px){
    .bienvenidos img{
        width: 300px;
        height: 200x;
    }
}
@media screen and (max-width: 600px){
    .bienvenidos img{
        display: none;
    }
}
@media screen and (max-width: 730px){
    .bienvenidos{
        flex-direction: column;
    }
}

@media screen and (max-width: 762px){
    .bienvenidos div p{
        font-size: 12px;
        margin: 10px;    }
}

@media screen and (max-width: 392px){
    .fin img{
        height: 40px;
        color: white;
        margin: 10px;
        display: inline-block;
    }
}

@media screen and (max-width: 480px){
    .rankeados h2{
        font-family: 'VT323', monospace;
        font-size: 34px;
        border: black solid;
        background-color: bisque;
}
}
@media screen and (max-width: 719px){
    .rankeados h2{
        background-color: bisque;
}
}
.Fedeados a:hover{
    background-color: yellow;
    color: black;
}
@media screen and (max-width: 410px){
    .gps iframe{ 
        width: 100%;
        height: 50%;
    }
}