@media screen and (max-width: 480px){
    .rankeados h2{
        font-family: 'VT323', monospace;
        font-size: 34px;
        border: black solid;
        background-color: bisque;
}
}
@media screen and (max-width: 719px){
    .rankeados h2{
        background-color: bisque;
}
}